@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
	margin: 0;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: 'Bree Serif', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 80px;
	background-color: #fff;
}

.nav-button {
	background-color: #f0f0f0;
	padding: 10px;
	margin: 5px;
	color: #545e7f;
	text-decoration: none;
	border-radius: 2px;
}

.nav-button:hover {
	background-color: #e0e0e0;
}

.active {
	color: red;
	font-size:  40px;
}

.container {

}

.footer {
	background-color: #1b1c1c;
	color: #fff;
}